In [97]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
url = "https://www.iplt20.com/auction"

In [3]:
page = requests.get(url)
soup = BeautifulSoup(page.content, 'lxml')

In [46]:
page

In [10]:
soup.title.text

'IPL Auction'

In [16]:
main_content_div = soup.find('div', class_="tab-content new")

In [55]:
core_div = main_content_div.find("div").find("section").find_all("div",class_="container")[1].find_all("div",class_="tab-content")[0].find_all("div",class_="tab-pane fade in active show")[0].find("div",class_="auction-grid-view mt-3")

In [59]:
name_of_teams = []
for i in core_div.find_all("div",class_="agv-team-name"):
    name_of_teams.append(i.text)

In [60]:
name_of_teams

['Chennai Super Kings',
 'Delhi Capitals',
 'Gujarat Titans',
 'Kolkata Knight Riders',
 'Lucknow Super Giants',
 'Mumbai Indians',
 'Punjab Kings',
 'Rajasthan Royals',
 'Royal Challengers Bengaluru',
 'Sunrisers Hyderabad']

In [64]:
span_div = main_content_div.find("div").find("section").find_all("div",class_="container")[1].find_all("div",class_="tab-content")[0].find_all("div",class_="tab-pane fade in active show")[0].find("div",class_="auction-grid-view mt-3").find_all("span")

In [72]:
values = []
for i in range(len(span_div)):
    values.append(span_div[i].text)

In [89]:
funds_remaining = values[1::6]

In [90]:
overseas_players = values[3::6]

In [91]:
total_players=values[5::6]

['₹1,00,00,000',
 '₹9,90,00,000',
 '₹7,85,00,000',
 '₹1,35,00,000',
 '₹95,00,000',
 '₹1,05,00,000',
 '₹4,15,00,000',
 '₹20,00,000',
 '₹2,85,00,000',
 '₹3,20,00,000']

In [93]:
name_of_teams

['Chennai Super Kings',
 'Delhi Capitals',
 'Gujarat Titans',
 'Kolkata Knight Riders',
 'Lucknow Super Giants',
 'Mumbai Indians',
 'Punjab Kings',
 'Rajasthan Royals',
 'Royal Challengers Bengaluru',
 'Sunrisers Hyderabad']

In [94]:
data = {"name_of_teams":name_of_teams,"funds_remaining":funds_remaining,"overseas_players":overseas_players,"total_players":total_players}

In [95]:
data

{'name_of_teams': ['Chennai Super Kings',
  'Delhi Capitals',
  'Gujarat Titans',
  'Kolkata Knight Riders',
  'Lucknow Super Giants',
  'Mumbai Indians',
  'Punjab Kings',
  'Rajasthan Royals',
  'Royal Challengers Bengaluru',
  'Sunrisers Hyderabad'],
 'funds_remaining': ['₹1,00,00,000',
  '₹9,90,00,000',
  '₹7,85,00,000',
  '₹1,35,00,000',
  '₹95,00,000',
  '₹1,05,00,000',
  '₹4,15,00,000',
  '₹20,00,000',
  '₹2,85,00,000',
  '₹3,20,00,000'],
 'overseas_players': ['8', '8', '8', '8', '8', '8', '8', '8', '8', '8'],
 'total_players': ['25', '25', '25', '23', '25', '25', '25', '22', '25', '25']}

In [98]:
df = pd.DataFrame(data)

In [99]:
df

                 name_of_teams funds_remaining overseas_players total_players
0          Chennai Super Kings    ₹1,00,00,000                8            25
1               Delhi Capitals    ₹9,90,00,000                8            25
2               Gujarat Titans    ₹7,85,00,000                8            25
3        Kolkata Knight Riders    ₹1,35,00,000                8            23
4         Lucknow Super Giants      ₹95,00,000                8            25
5               Mumbai Indians    ₹1,05,00,000                8            25
6                 Punjab Kings    ₹4,15,00,000                8            25
7             Rajasthan Royals      ₹20,00,000                8            22
8  Royal Challengers Bengaluru    ₹2,85,00,000                8            25
9          Sunrisers Hyderabad    ₹3,20,00,000                8            25